:root {
  /* * colors */
  /* color: primary */
  --clr-primary: hsl(172, 67%, 45%);
  /* color: neutral */
  --clr-neutral-900: hsl(183, 100%, 15%);
  --clr-neutral-800: hsl(186, 14%, 43%);
  --clr-neutral-700: hsl(184, 14%, 56%);
  --clr-neutral-400: hsl(185, 41%, 84%);
  --clr-neutral-300: hsl(189, 41%, 97%);
  --clr-white-900: hsl(0, 0%, 100%);
  /* * typography */
  /* font size */
  --fs-300: 0.8em;
  --fs-400: 1em;
  --fs-500: 1.5em;
  /* font family */
  --ff-sans-normal: "Space Mono", "Courier New", monospace;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;

  overflow: hidden;

  padding: 0;
  margin: 0;

  font-family: var(--ff-sans-normal);
  background-color: var(--clr-neutral-400);
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
select,
textarea {
  font-family: inherit;
}

input {
  font-size: var(--fs-500);
}

/* ! css box model checker */
/* todo delete while publishing */

/* * {
  border: 1px solid hsl(62, 62%, 62%);
} */

/* utility classes */

.container {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1.5em;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* * */
/* * navigation */
/* * */

/* logo */

/* * */
/* * footer */
/* * */

footer {
  grid-area: footer;
  font-size: var(--fs-300);
}
