:root {
  /* * colors */
  /* color: primary */
  --clr-primary: hsl(172, 67%, 45%);
  /* color: neutral */
  --clr-neutral-900: hsl(183, 100%, 15%);
  --clr-neutral-800: hsl(186, 14%, 43%);
  --clr-neutral-700: hsl(184, 14%, 56%);
  --clr-neutral-400: hsl(185, 41%, 84%);
  --clr-neutral-300: hsl(189, 41%, 97%);
  --clr-white-900: hsl(0, 0%, 100%);
  /* * typography */
  /* font size */
  --fs-300: 0.8em;
  --fs-400: 1em;
  --fs-500: 1.5em;
  /* font family */
  --ff-sans-normal: "Space Mono", "Courier New", monospace;
  /* * spacing */
  --section-spacer: 3em;
  /* * padding */
  --padding-400: 3em;

  /* // * breakpoints  */
  /* --screen-small: 23.475em; */
  /* --screen-large: 90em; */

  --gutter: 0.25em;
}

@media screen and (min-width: 23.475em) {
  :root {
    --padding-400: 3em;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;

  overflow: hidden;

  padding: 0;
  margin: 0;

  font-family: var(--ff-sans-normal);
  background-color: var(--clr-neutral-400);
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
select,
textarea {
  font-family: inherit;
}

input {
  font-size: var(--fs-500);
}

/* ! css box model checker */
/* todo delete while publishing */

/* * {
  border: 1px solid hsl(62, 62%, 62%);
} */

/* * utility classes */

.container {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-spacer {
  margin-top: var(--section-spacer);
}

/* padding */
.padding {
  padding: var(--padiing-400);
}
.padding--vertical {
  padding-top: var(--padding-400);
  padding-bottom: var(--padding-400);
}
.padding--horizontal {
  padding-top: var(--padding-400);
  padding-bottom: var(--padding-400);
}

/* flex */
.flex {
  display: flex;
}
.flex--column {
  flex-direction: column;
}
/* align */
.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* * */
/* * navigation */
/* * */

/* logo */

/* * */
/* * cards form */
/* * */

.cards {
  background-color: var(--clr-white-900);
}

.cards--rounded-edges {
  border-radius: 2em;
}

/* card styling */

.card {
  display: grid;
  gap: 2em;
}

.card__tip__percent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  /* grid-gap: var(--gutter); */
}

/* * */
/* * footer */
/* * */

footer {
  grid-area: footer;
  font-size: var(--fs-300);
}

.footer__attribution {
  padding: calc(var(--padding-400) / 2) 0;
}

@media screen and (min-width: 23.475em) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
